.bar {
    background-color: black;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:100px;
    z-index: -1;
    }

.title{
    color:white;
    padding-left:20px;
}

h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 42px;
    font-weight: 200;
    margin-left: 350px !important;
}

.hero{
     z-index: 9999;
}